@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
$mainColor: #4c00a4;
$fontColor: rgb(187, 160, 202);
$btnColor: #c3c3e6;

$fontFamily: "Cairo", sans-serif;
