@media (min-width: 1000px) {
  // slide show of information row
  .infor {
    width: 100%;
    .slides {
      flex-direction: row;
      column-gap: 5vh;
      figure {
        width: 40%;
        height: 50vh;
        transition: 0.3;
      }
      figure:hover {
        border: 2px solid rgb(0, 242, 255);
      }
    }
  }
}
