body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 300px) {
  // slide show of information row
  .infor {
    // @include MakeColumn;
    display: flex;
    column-gap: 3vh;
    row-gap: 2vh;
    justify-content: center;
    flex-wrap: wrap;
    .slides {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 30vh;

      img {
        width: 100%;
        height: 100%;
      }
      figcaption {
        position: absolute;
        bottom: 0;
        // display: flex;
        @include MakeCenter;
        column-gap: 3vh;
        width: 90%;
        height: 20%;
        // border: 1px solid black;
        background-color: rgba(53, 52, 52, 0.7);
        padding: 5%;
        box-sizing: content-box;
        color: #fff;
      }
      i {
        display: flex;
      }
      h5 {
        font-size: 20px;
      }
    }
  }
}
