@media (min-width: 700px) {
  // slide show of information row

  .infor {
    font-size: 50px;
    .slides {
      h5 {
        font-size: 30px;
      }
      h6 {
        font-size: 30px;
      }
    }
  }
}
